.background_color_gradient {
  background: linear-gradient(to bottom, #1f1f1f, #121212);
  position: relative;
  z-index: 0;
  height: 100vh;
  width: 100%;
  flex-grow: 1;
}

.search_bar {
  width: 20%;
  height: 5%;
  transform: translate(17rem, 15px);
  z-index: 4;
  position: absolute;
  display: flex;
  border-radius: 25px;
}
