.list {
  width: 15%;
  z-index: 2;
  position: relative;
  background-color: #000;
  height: 100vh;
}

.option {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}

.btnSizeOne {
  width: 68%;
  position: relative;
  z-index: 4;
}

.btnSizeTwo {
  width: 13%;
  position: relative;
  z-index: 4;
  margin-right: 9%;
  display: flex;
  justify-content: center;
  margin-left: 3%;
}

.unorderedList {
  list-style-type: none;
  position: relative;
  z-index: 3;
}
